.home
  .home__header
    .home__header__content
      .headline Custom email and Slack alerts for your GitHub repositories
      .cta-container= link_to 'Get started for free', new_user_path, class: 'cta'
