.home
  .home__header
    .home__header__content
      .headline Custom email and Slack alerts for your GitHub repositories
      .cta-container= link_to 'Get started for free', new_user_registration_path, class: 'cta'
  .home__footer
    .home__footer__content
      = mail_to 'support@diffalert.nickholden.io'
      %br
      Developed by #{link_to 'Nick Holden', 'http://nickholden.io', target: '_blank'}
