.triggers
  .triggers__header
    %h1 Edit trigger

  .triggers__form-container
    = form_for @trigger_form, method: :patch, url: trigger_form_path(trigger_id: @trigger_form.trigger_id) do |f|
      - render partial: 'form', locals: { f: f }
