.home {
  &__header, &__footer {
    text-align: center;
    height: 100%;
    margin: 0 -20px;

    &__content {
      margin: 0 auto;
      padding: $base-spacing;
    }
  }

  &__header {
    background-image: image-url("home_header_background.jpg");
    background-size: cover;
    background-position: top;
    padding: ($base-spacing * 6) 0;

    &__content {
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;

      .headline {
        display: inline-block;
        font-size: 200%;
        font-weight: 500;
        margin-bottom: $small-spacing;
      }

      .cta {
        display: inline-block;
        font-size: 150%;
        font-weight: $standard-weight;
        margin: 0 auto;
        padding: $small-spacing/2 $small-spacing;
        border-radius: $base-border-radius;
        background-color: $green;
        color: #fff;
      }
    }
  }

  &__footer {
    margin-top: 2em;
    padding: $base-spacing 0;
    background-color: $dark-gray;
    color: $medium-gray;

    a {
      color: #fff;
    }
  }
}
