.trigger-setup-instructions {
  text-align: center;

  &__instructions {
    .attributes {
      padding: $base-spacing 0;

      .attribute {
        padding: $small-spacing 0;

        .value {
          font-family: $monospace;
        }
      }
    }
  }
}
