$triggers-index: (
  columns: 3,
  gutter: 0,
);

$triggers-index--large-up: (
  columns: 5,
  gutter: 0,
  media: $large-screen,
);

.triggers {
  &__header {
    text-align: center;
  }

  &__triggers-index {
    @include grid-collapse($triggers-index);
    @include grid-container;
    margin: $base-spacing 0;

    @include grid-media($triggers-index--large-up) {
      display: table;
      width: 100%;
    }

    &__headers {
      display: none;

      @include grid-media($triggers-index--large-up) {
        display: table-row;

        .header {
          @include grid-column(1);
          border-bottom: 1px solid shade($base-border-color, 25%);
          padding: $small-spacing 0;
        }
      }
    }

    &__trigger {
      border-bottom: $base-border;
      padding: $small-spacing 0;

      @include grid-media($triggers-index--large-up) {
        border: 0;
        padding: 0;
        display: table-row;
      }

      .attribute {
        .label {
          @include grid_column(1, $triggers-index);
          display: inline-block;

          @include grid-media($triggers-index--large-up) {
            display: none;
          }
        }

        .value {
          @include grid_column(2, $triggers-index);
        }

        @include grid-media($triggers-index--large-up) {
          @include grid-column(1);
          border-top: $base-border;
          padding: $small-spacing 0;
          display: table-cell;
        }
      }
    }
  }

  &__new-trigger {
    text-align: center;
  }

  &__form-container {
    @include form-container($medium-screen);

    .section-header {
      text-align: center;
      margin-bottom: $base-spacing;
      font-size: 115%;
    }
  }
}
